//Main splash
$mainSplash: #008B3A;
$secondSplash: #003559;

//Buttons colors
$redButton: #EE5E68;
$greenButton: #51bd49;
$returnButton: #8488A5;

//Text colors
$mediumGrey: #383838;
$lightGrey: #555555;
$whiteGrey: #bbb;
$whiteGrey2: #e4e4e4;

