@import "./mixin.scss";
@import "./colors.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
$break-small: 850px;
$open-sans: "Open Sans", sans-serif;

.modal {
    font-family: $open-sans;

    .modal-dialog {
        max-width: 800px;

        &.modal-dialog-90w {
            width: 90%;
            max-width: 90%;
            height: 90%;
            min-height: 90%;

            .modal-content {
                height: 100%;
            }

            .modal-header,
            .modal-body,
            .modal-footer {
                padding: 1rem 1.5rem;
            }

            .input-group-section {
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }

        &.modal-dialog-30w {
            min-height: 400px;
            height: 40%;
            @media screen and (max-width: $break-small) {
                height: 90%;
            }

            .modal-content {
                height: 100%;
            }

            .modal-header,
            .modal-body,
            .modal-footer {
                padding: 1rem 1.5rem;
            }

            .input-group-section {
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }

        .modal-content {
            border: 0;
            border-radius: 1rem;
            overflow: hidden;

            .modal-title {
                font-size: 1.4rem;
                color: $lightGrey;
            }

            .modal-body {
                font-size: 0.8rem;
                //min-height: 280px;
                color: $lightGrey;
            }

            .close {
                outline: 0;
                font-size: 2rem;
                transition: 0.3s transform ease-in-out, 0.2s font-weight ease-in-out;

                &:hover {
                    transform: scale(1.5);
                    color: $redButton;
                    cursor: pointer;
                }
            }

            .modal-card-data {
                //width: calc(100% - 184px);
                margin-left: 24px;
            }
            .modal-input-group {
                display: flex;
                justify-content: space-between;
                width: 100%;
                @media screen and (max-width: $break-small) {
                    display: initial;
                }
                .modal-input-section {
                    display: flex;
                    width: 100%;
                    margin: 1rem;
                    align-items: center;
                    @media screen and (max-width: $break-small) {
                        justify-content: space-between;
                    }
                    .modal-input-label {
                        margin-top: 6px;
                        text-transform: uppercase;
                        color: $lightGrey;
                    }
                    .modal-input-field {
                        margin-left: 3%;
                        width: 80%;
                        border: 0;
                        border-bottom: 1px solid $whiteGrey;
                        background: transparent;
                        outline: none;
                        font-size: 1rem;
                        color: $lightGrey;
                        &.phone {
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }
        }
    }

    .button-group {
        display: flex;
        @media screen and (max-width: $break-small) {
            display: initial;
        }
        .button {
            @include button-main;
            width: 45%;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            max-width: 350px;
            min-width: 150px;
            transition: 0.3s transform ease-in-out, 0.2s font-weight ease-in-out;
            color: white;
            font-family: $open-sans;
            &.delete {
                background-color: $redButton;
            }
            &.save {
                background-color: $greenButton;
            }
            &.return {
                background-color: $returnButton;
            }
            &:hover {
                transform: scale(1.1);
                font-weight: bold;
            }
        }
    }
}
